{% extends 'main/base.html' %}

{% block content %}
    <br>
    <div class="col-12 col-md-3 col-xl-2 bd-sidebar">
        <img src="{{ profile.avatar.url }}" alt="" width="50" height="50">
        <h1>@{{ username }}</h1>
        <!-- edit_profile -->
        {% if username == user.username %}
        <a href="{% url 'edit_profile' username %}">edit_profile</a>
            
        {% endif %}
            
    </div>
    <div class="content">
        {% include 'main/show_posts.html' %}    
    </div>
        
{% endblock content %}
    